package main

import (
	"context"
	"os"
	"os/signal"
	"syscall"
	"time"

	"{{ .Form.Name }}/internal/api"
	"{{ .Form.Name }}/internal/config"	
	"{{ .Form.Name }}/internal/logger"

	"golang.org/x/sync/errgroup"
)

// @title {{ .Form.Name }} REST API Server
// @version 1.0
// @description This is a generated server from goforge.
// @host localhost:8000
// @BasePath /api/users
func main() {
	ctx, stop := signal.NotifyContext(context.Background(), os.Interrupt, syscall.SIGTERM)
	defer stop()

	// instantiate custom logger (slog wrapper) for structured logging
	logger := logger.New(nil, "")

	// instantiate the configuration (environment variables) for the service
	cfg := config.New()

	{{ if .Form.DatabaseFlag }}
	// connect to db
	db, err := db.New(cfg, logger)
	if err != nil {
		logger.Error(ctx, "Failed to initialize database", "error", err)
		os.Exit(1)
	}
	{{ end }}

	service := api.NewService()
	handler := api.NewHandler(service)

	server, err := api.NewServer(cfg, logger, handler)
	if err != nil {
		logger.Error(ctx, "Failed to create server", "error", err)
		os.Exit(1)
	}

	// use errgroup to manage the lifecycle of the server and handle graceful shutdown
	g, ctx := errgroup.WithContext(ctx)

	// start HTTP server
	g.Go(func() error {
		return server.Run()
	})

	// wait for shutdown signal
	g.Go(func() error {
		<-ctx.Done()

		closeCtx, cancel := context.WithTimeout(context.Background(), 5*time.Second)
		defer cancel()

		return server.Close(closeCtx)
	})

	// wait for everything
	if err := g.Wait(); err != nil {
		logger.Error(context.Background(), "Server exited with error", "error", err)
		os.Exit(1)
	}

	logger.Info(context.Background(), "Server exited cleanly.")
}