package api

import (
	"context"
	"net/http"
	"{{ .Form.Name }}/internal/config"
	"{{ .Form.Name }}/internal/logger"

	_ "{{ .Form.Name }}/docs"

	"github.com/go-chi/chi/v5"
	"github.com/go-chi/chi/v5/middleware"
	httpSwagger "github.com/swaggo/http-swagger"
)

type Server struct {
	server *http.Server
	logger *logger.Logger
}

func NewServer(cfg *config.Config, logger *logger.Logger, handler *Handler) (*Server, error) {
	router := chi.NewRouter()

	router.Use(
		logger.RequestLogger,
		middleware.Recoverer,
	)

	router.Mount("/api/users", handler.ServeRoutes())
	router.Get("/swagger/*", httpSwagger.WrapHandler)

	return &Server{
		server: &http.Server{
			Addr:    cfg.PORT,
			Handler: router,
		},
		logger: logger,
	}, nil
}

func (s *Server) Run() error {
	s.logger.Info(context.Background(), "Starting server", "port", s.server.Addr)

	if err := s.server.ListenAndServe(); err != nil && err != http.ErrServerClosed {
		return err
	}

	return nil
}

func (s *Server) Close(ctx context.Context) error {
	s.logger.Info(ctx, "Shutting down server gracefully...")

	err := s.server.Shutdown(ctx)
	if err != nil {
		return err
	}

	s.logger.Info(ctx, "Server shutdown complete.")
	return nil
}
